.root{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}
.logoName{
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}
.search{
    border-color: #ff6600;
    border-radius: 5px;
    height: 30px;
    vertical-align:text-bottom;
    width: 35%;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #ff6600;
    border-bottom: #ff6600;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;;
    border-style:solid;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    background-color: whitesmoke;
    width: 100%;
  }
  .tab{
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  li.tab:hover{
      background-color: #ffdfc9;
  }
  .inline{
      display: inline;
  }
  .inline-block{
      display: inline-block;
  }
  #searchButton{
    background-color: #ffdfc9;
    height: 35px;
    width: 100px;
    color:#ff6600;
  }
  #searchButton:hover{
      background-color: whitesmoke;
  }
  ::placeholder{
      color: #ff6600;
  }
  .home{
      font-family: 'Oswald', sans-serif;
      color:whitesmoke;
      font-size: 20px;
      padding-top: 10px;
  }
  .section{
      font-size: 30px;
  }
  .background{
    background-color: #ff6600;
  }
  .box{
    width: 30%;
    height: 300px;
    border-radius: 8px;
    border-color: #ff6600;
    border-width: 2px;
    border-style: solid;
    margin: 1%;
  }
  .products{
      padding-top: 5px;
      color: #ff6600;
      padding-left: 30px;
  }
  .contactUs{
      color: #ff6600;
  }
  .desc{
      padding-left: 15%;
  }
  .feedback{
      background-color: #ff6600;
      color:whitesmoke;
      padding-bottom: 20px;
  }
  .form{
      padding-left: 35%;
  }
  .suggestion{
    border-color: #ff6600;
    border-radius: 5px;
    height: 150px;
    vertical-align:text-bottom;
    width: 34%;
}
html {
    scroll-behavior: smooth;
  }